.container {
  display: flex;
  flex-direction: row;
  padding-left: 7em;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
  /* background-color: blue; */
}

.cardContainer {
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
  flex-direction: space-around;
  padding-bottom: 1cm;
  padding-left: 2em;
  padding-right: 2em;
  min-width: 15em;
  align-items: center;

  color: black;

  background-color: #00b7be;
}
.ActionCard-One {
  align-items: center;
  flex-direction: column;
  letter-spacing: 0em;
  display: flex;
  padding-bottom: 2cm;
  background-color: #77ccd3;
  font-size: 0.5em;
  min-height: 20em;
  min-width: 15em;
  
}
.recordTimeStamp {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  min-width: 10em;
}

.cardButton {
  margin-top: 3em;
}
.buttonFlex {
  padding-right: 5.5em;
  justify-content: flex-end;
  display: flex;
}
.recordCardButtonFlex {
  justify-content: flex-end;
  display: flex;
  padding-left: 5em;
}

.mainCard {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  letter-spacing: 0.2em;
  padding-top: -0.5em;
  padding-left: 13%;
  min-width: 15em;
  display: flex;
  justify-content: flex-start;
  
}
.cardColumn{
display: flex;
flex-direction: column;
}
